.chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.selects-container {
  display: flex;
  justify-content: space-around;
}

.select-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
